In [1]:
import pandas as pd
import numpy as np
import IPython
def progress(value, max=100):
    return IPython.display.HTML("""
        <progress
            value='{value}'
            max='{max}',
            style='width: 100%'
        >
            {value}
        </progress>
    """.format(value=value, max=max))

# create dataset case study one and two

In [15]:
import os
name="DB_ONE"
label_name=name
examnumber=6
url_list,index=[],1
for exam in range(1,examnumber,1): # dont use last exam
  print("useing exam:",exam)
  for i in os.listdir("first_case_study_p{}/".format(exam)):
    if i=='x_str.txt' or i=='y_str.txt' or i=='z_str.txt' or i[-3:]=='png' or i[-9:-5]=='freq' or i[-10:-5]=='noise':
      continue  
    else:  
      url_list.append("first_case_study_p{}/res_{}.txt".format(exam,index))
      index+=1
  if exam==1:
    index=1    
  print(url_list[-1][-7:-4])
print('Total number:',len(url_list))

s1 = pd.read_csv("first_case_study_p1/x_str.txt",header=None)
s2=pd.read_csv("x_str.txt",header=None)
dx=pd.concat([s1,s2])
dx.reset_index(drop=True,inplace=True)

s1 = pd.read_csv("first_case_study_p1/y_str.txt",header=None)
s2=pd.read_csv("y_str.txt",header=None)
dy=pd.concat([s1,s2])
dy.reset_index(drop=True,inplace=True)

s1 = pd.read_csv("first_case_study_p1/z_str.txt",header=None)
s2=pd.read_csv("z_str.txt",header=None)
dz=pd.concat([s1,s2])
dz.reset_index(drop=True,inplace=True)

labels=pd.concat([dx,dy,dz],axis=1)
labels.columns = ['X', 'Y', 'Z']
labels

useing exam: 1
100
useing exam: 2
149
useing exam: 3
300
useing exam: 4
399
useing exam: 5
500
Total number: 600

              X           Y           Z
0     95.540388 -132.590206 -188.213326
1   -161.394896  -60.689372 -152.530797
2   -196.759477 -197.999832 -192.434264
3    -46.459309   67.255943   -4.913375
4    -75.807260 -153.303894 -147.242241
..          ...         ...         ...
595   82.419739  -23.391283   84.364849
596  256.687055  112.810451   62.013039
597  306.594697 -130.407493  -47.749804
598 -289.548673  145.648107   11.384573
599  100.211267   90.338823  -75.263426

[600 rows x 3 columns]

# third and fourth case study

In [40]:
import os
import math
label_name="DB_TWO"
name=label_name

address='third_case_study_y_direction'
index=1 
url_list=[]
for i in os.listdir(address):
    if i=='x_str.txt' or i=='y_str.txt' or i=='z_str.txt' or i[-3:]=='png' or i[-9:-5]=='freq' or i[-10:-5]=='noise':
          continue   
    else:  
        url_list.append(address+"/res_{}.txt".format(index))
    index+=1
print(len(url_list))  

df2={}
df2['x']= pd.read_csv(address+'/x_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['y']= pd.read_csv(address+'/y_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['z']= pd.read_csv(address+'/z_str.txt', sep=r'\s{2,}', engine='python', header=None)
dx=pd.DataFrame(df2['x'][:477])
dy=pd.DataFrame(df2['y'][:477])
dz=pd.DataFrame(df2['z'][:477])

labels=pd.concat([dx,dy,dz],axis=1)
labels.columns = ['X', 'Y', 'Z']

address='4th_case_study_y_dir_3GHz/'
index=1
for i in os.listdir(address):
    if i=='x_str.txt' or i=='y_str.txt' or i=='z_str.txt' or i[-3:]=='png' or i[-9:-5]=='freq' or i[-10:-5]=='noise':
          continue   
    else:  
        url_list.append(address+"/res_{}.txt".format(index))
    index+=1
print(len(url_list)) 
df2={}
df2['x']= pd.read_csv(address+'/x_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['y']= pd.read_csv(address+'/y_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['z']= pd.read_csv(address+'/z_str.txt', sep=r'\s{2,}', engine='python', header=None)
dx=pd.DataFrame(df2['x'])
dy=pd.DataFrame(df2['y'])
dz=pd.DataFrame(df2['z'])

labels2=pd.concat([dx,dy,dz],axis=1)
labels2.columns = ['X', 'Y', 'Z']
labels=pd.concat([labels,labels2],axis=0)
labels.reset_index(drop=True,inplace=True)
labels

477
977

              X           Y           Z
0    283.251318   32.899666   52.475494
1    365.212743   16.295735  -57.970539
2   -335.711865  147.976413  198.801309
3    372.038271  -94.088389 -110.331400
4    119.123322  -72.770370   60.980429
..          ...         ...         ...
972 -246.012176  188.098225  -79.974624
973  182.703952  199.370716 -170.643621
974  228.737327  194.981923  106.959494
975   42.557970 -139.965369 -166.019114
976   48.135078  183.391522   91.505632

[977 rows x 3 columns]

# fifth case study single sensor

In [15]:
import os
import math
typee='x'
label_name="DB_THREE_P1"
name=label_name+"_"+typee
address='fifth_case_study_dif_direction/{}_data/'.format(typee)

index=1
url_list=[]
for i in os.listdir(address):
    if i=='x_str.txt' or i=='y_str.txt' or i=='z_str.txt' or i[-3:]=='png' or i[-9:-5]=='freq' or i[-10:-5]=='noise' or i[-3:]=='csv' or i==".ipynb_checkpoints":
          continue   
    else:  
        url_list.append(address+"res_{}_{}.txt".format(typee,index))
    index+=1
print(len(url_list))  

df2={}
df2['x']= pd.read_csv(address[:-7]+'x_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['y']= pd.read_csv(address[:-7]+'y_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['z']= pd.read_csv(address[:-7]+'z_str.txt', sep=r'\s{2,}', engine='python', header=None)
dx=pd.DataFrame(df2['x'])
dy=pd.DataFrame(df2['y'])
dz=pd.DataFrame(df2['z'])

labels=pd.concat([dx,dy,dz],axis=1)
labels.columns = ['X', 'Y', 'Z']
labels

1000

              X           Y           Z
0   -250.577874  106.504295  119.874650
1   -266.436455 -146.019630   52.091907
2    111.689375 -174.031729  193.119059
3    202.684604   68.977981 -136.700105
4    300.927769   -7.117230   46.670493
..          ...         ...         ...
995 -342.781264  107.380846  -48.617035
996 -411.176609  113.745155  -10.092668
997 -300.997637 -188.432763 -157.495312
998    9.995313 -179.023506  153.513651
999  330.541217  -70.632406  -21.958707

[1000 rows x 3 columns]

In [18]:
typee='x'
label_name="DB_THREE_P2"
name=label_name+"_"+typee
address='fifth_case_study_dif_direction_v2/{}_data/'.format(typee)
index=1
url_list=[]
for i in os.listdir(address):
    if i=='x_str.txt' or i=='y_str.txt' or i=='z_str.txt' or i[-3:]=='png' or i[-9:-5]=='freq' or i[-10:-5]=='noise' or i[-3:]=='csv' or i==".ipynb_checkpoints":
          continue   
    else:  
        url_list.append(address+"res_{}_{}.txt".format(typee,index))
    index+=1
print(len(url_list))  

df2={}
df2['x']= pd.read_csv(address[:-7]+'x_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['y']= pd.read_csv(address[:-7]+'y_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['z']= pd.read_csv(address[:-7]+'z_str.txt', sep=r'\s{2,}', engine='python', header=None)
dx=pd.DataFrame(df2['x'])
dy=pd.DataFrame(df2['y'])
dz=pd.DataFrame(df2['z'])

labels=pd.concat([dx,dy,dz],axis=1)
labels.columns = ['X', 'Y', 'Z']
labels

1000

              X           Y           Z
0    313.691943   20.002279  -28.259785
1    166.517760   90.362255 -171.415849
2    381.561256 -155.286861  -83.484054
3    122.126199  159.141836  167.410174
4     39.239643  190.986269 -159.165714
..          ...         ...         ...
995  251.012261   15.132907  -85.953889
996 -397.679987   14.362426  -99.360303
997 -419.121084  189.309825 -100.923025
998 -417.888899 -147.541476 -125.682888
999 -335.306793   27.878280  127.490864

[1000 rows x 3 columns]

# Y direction 1000m & 2x upscale

In [8]:
import os
import math
typee='y'
label_name="DB_THREE_UPSCALE" #DB_THREE_RESHAPE or DB_THREE_UPSCALE
name=label_name+"_"+typee
if label_name=="DB_THREE_RESHAPE":
    address='Case_8_y_1000m/{}_data/'.format(typee)
    index=1
else:
    address='Case_9_2x_upscale/{}_data/'.format(typee)
    index=287
url_list=[]
for i in os.listdir(address):
    if i=='x_str.txt' or i=='y_str.txt' or i=='z_str.txt' or i[-3:]=='png' or i[-9:-5]=='freq' or i[-10:-5]=='noise' or i[-3:]=='csv' or i==".ipynb_checkpoints":
          continue   
    else:  
        url_list.append(address+"res_{}_{}.txt".format(typee,index))
    index+=1
print(len(url_list))  

df2={}
df2['x']= pd.read_csv(address[:-7]+'x_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['y']= pd.read_csv(address[:-7]+'y_str.txt', sep=r'\s{2,}', engine='python', header=None)
df2['z']= pd.read_csv(address[:-7]+'z_str.txt', sep=r'\s{2,}', engine='python', header=None)
if label_name=="DB_THREE_RESHAPE":
    dx=pd.DataFrame(df2['x'][:682])
    dy=pd.DataFrame(df2['y'][:682])
    dz=pd.DataFrame(df2['z'][:682])
else:
    dx=pd.DataFrame(df2['x'])
    dy=pd.DataFrame(df2['y'])
    dz=pd.DataFrame(df2['z'])
    
labels=pd.concat([dx,dy,dz],axis=1)
labels.columns = ['X', 'Y', 'Z']
labels

1000

              X           Y           Z
0    700.186221  330.900357 -418.753485
1    647.653727   72.458703 -347.004342
2    174.709419  113.494303 -381.037400
3    278.553858 -349.967526   97.042210
4    747.025189 -257.675199 -239.880733
..          ...         ...         ...
995  688.549939  424.289893  436.463699
996  502.735170  214.841347  226.497529
997 -867.089007 -437.528181  131.877918
998  487.371142  161.209499  344.578809
999  334.437127  -13.047542   10.700941

[1000 rows x 3 columns]

# sixth case study

In [ ]:
import os
address='windding/'
typee='z'
parts=['Part_1_266_sample/','Part_2_585_sample/','Part_3_227_samples/','Part_4_174_samples/','Part_5_886_samples/']
boundrylist=[]
url_list=[]
for k,j in enumerate(parts):
    index=1
    add=address+j
    for i in os.listdir(add):
        if i=='x_str.txt' or i=='y_str.txt' or i=='z_str.txt' or i[-3:]=='png' or i[-9:-5]=='freq' or i[-10:-5]=='noise' or i[-3:]=='csv' or i==".ipynb_checkpoints":
            continue    
        elif i[4]!='x':
            boundry=index-1
        else:  
            url_list.append(add+i)
            index+=1   
    print(j,typee,boundry) 
    boundrylist.append(boundry)
print(boundrylist)    
print(len(url_list))

# Load to PD series

In [9]:
progressbar = display(progress(0, len(url_list)), display_id=True)
data={}
for c,url in enumerate(url_list):
    df = pd.read_csv(url, sep=r'\s{2,}', engine='python', header=None, names=['time','port'])
    df1=df.drop([0,1])
    df1.reset_index(drop=True,inplace=True)
    df1=df1.stack() 
    data[c+1]=df1
    progressbar.update(progress(c+1, len(url_list)))  
data=pd.DataFrame(data)

In [10]:
data.to_csv("{}_SIGNALS.csv".format(name),compression='gzip')
labels.to_csv("{}_LOCATONS.csv".format(label_name),index=False)

# Load dataframe

In [11]:
data=pd.read_csv("{}_SIGNALS.csv".format(name),index_col=0,header=0,compression='gzip')
l=data.columns.values.tolist()
data=data.rename(columns={l[0]:"type"})
del l[0]
progressbar = display(progress(0, len(l)), display_id=True)
for c,sample in enumerate(l):
    temp=data.iloc[:,int(sample)]
    temp=temp.loc[temp.notna()]
    s,t = [],[]
    for idx, ele in enumerate(temp.tolist()): 
        if idx % 2 != 0: 
            t.append(ele) 
        elif idx % 2 == 0:
            s.append(ele)  
    df1={'port':s,'time':t}
    df1=pd.DataFrame.from_dict(df1)
    progressbar.update(progress(c+1, len(l)))

In [12]:
data

,type,1,2,3,4,5,6,7,8,9,...,991,992,993,994,995,996,997,998,999,1000
0,port,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,time,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,port,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,time,0.009858,0.011744,0.011584,0.010094,0.010632,0.011223,0.009921,0.011309,0.010721,...,0.01063,0.009663,0.010754,0.011625,0.010616,0.010661,0.009899,0.009981,0.010794,0.010762
2,port,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7760,time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7761,port,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7761,time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7762,port,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7762,time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
pd.read_csv("{}_LOCATONS.csv".format(label_name))

              X           Y           Z
0    700.186221  330.900357 -418.753485
1    647.653727   72.458703 -347.004342
2    174.709419  113.494303 -381.037400
3    278.553858 -349.967526   97.042210
4    747.025189 -257.675199 -239.880733
..          ...         ...         ...
995  688.549939  424.289893  436.463699
996  502.735170  214.841347  226.497529
997 -867.089007 -437.528181  131.877918
998  487.371142  161.209499  344.578809
999  334.437127  -13.047542   10.700941

[1000 rows x 3 columns]